@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<a asp-action="CreateSeller" asp-controller="Admins" class="btn btn-primary">Create New Seller</a>
<a asp-action="CreateProgram" asp-controller="Registration" class="btn btn-secondary">Create New Program</a>